* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}


#header {
    padding: 15px 0px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 70px;
}

#header .logo {
    width: 20%;
}

#main-nav {
    width: 70%;
}

#main h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}