<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header id="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col logo">
                    <h1>Online Shop</h1>
                </div>
                <nav id="main-nav" class="col">
                    <ul class="row justify-space-evenly">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/users">Users</a>
                        </li>
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/add-user">Add User</a>
                        </li>
                        <li>
                            <a href="/cart">Cart</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Add a new user from here..</h2>
            <form action='/users' method='POST'>
                <input type='text' placeholder='Enter user name' name='username'/>
                <input type='submit'/>
            </form>
        </div>
    </main>
    
</body>
</html>