<%- include('includes/header.ejs') %>

    <main id="main">
        <div class="container">
            <% if (username) {%>
                <h2>Home Page : Welcome <%= username %></h2>
            <% } else {%>
                <h2>Home Page</h2>
            <% } %>
        </div> 
    </main>
    
<%- include('includes/footer.ejs') %>