<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <header id="header">
        <div class="container">
            <div class="row justify-space-between align-items-center">
                <div class="logo col">
                    <h1>Online Shopping</h1>
                </div>
                <nav id="main-nav" class="col">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                        <li>
                            <a href="#">Electronics</a>
                        </li>
                        <li>
                            <a href="#">Clothes</a>
                        </li>
                        <li>
                            <a href="#">Cart</a>
                        </li>
                    </ul>
                </nav>
                <div class="col user-links">
                    <ul>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="container">
            <h2>Home Page</h2>
        </div> 
    </main>
    
</body>
</html>