<%- include('includes/header.ejs')  %>

<main>
    <div class="container">
        <h1>Add New User</h1>
        <hr>
        <form action="/new-user" method="post">
            <div class="label-group">
                <label for="name">Enter username</label>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Enter username" name="username">
            </div>
            <div class="button-group">
                <input type="submit" value="Add User">
            </div>
            
        </form>
    </div>
</main>
