<%- include('includes/header.ejs')  %>

<main id="main">
    <div class="container">
        <h2>New User <%= userName %> Added...</h2>
        <% if (usersList.length > 0) { %>
            <ul>
                <% for(let item of usersList) { %>
                    <li>
                        <%= item.userName %>
                    </li>
                <% } %>
            </ul>
        <% } else {%>
            <h2>No Used Added...</h2>
            <% } %>

        
    </div>
</main>
    