<%- include('includes/header.ejs')  %>

<main id="main">
    <div class="container">
        <h2>List of Users...</h2>
        <ul>
            <li>
                <%= userName %>
            </li>
        </ul>
    </div>
</main>
    