<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col logo">
                    <h1>Online Shop App</h1>
                </div>
                <div class="col">
                    <nav id="main-nav">
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Add Product</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">Users</a>
                            </li>
                            <li>
                                <a href="#">Cart</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="container">
            <h1>All Products</h1>
            <hr>
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </main>
    
</body>
</html>